@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body {
  padding: 0;
  margin: 0;
  background: url("../image/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  height: 600px;
}

.main .one {
  margin: 20px;
  background-color: rgba(255, 0, 0, 0.8);
  height: 100%;
  width: 25%;
  border-radius: 20px;
}

.main .one .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .one .name .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .one .name .image img {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: none;
  cursor: pointer;
}

.main .one .name .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: -40px;
}

.main .one .name .details h4 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.main .one .name .details h6 {
  position: relative;
  margin-top: -35px;
  font-size: 20px;
  color: white;
}

.main .portfolio ul li {
  list-style: none;
  padding: 5px;
}

.main .portfolio ul li a {
  text-decoration: none;
  color: white;
}

.main .portfolio ul li a:hover {
  font-weight: bold;
}

.main .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .socialmedia li {
  padding: 5px;
}

.main .socialmedia li i {
  font-size: 30px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.main .socialmedia li i:hover {
  color: wheat;
  font-size: 35px;
}

.two {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  border-radius: 20px;
}

.two .details {
  color: wheat;
}

.two .details h3 {
  font-size: 40px;
}

.two .details p {
  position: relative;
  margin-top: -40px;
  font-size: 30px;
}

.two .button div {
  border: 2px solid wheat;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.two .button div span {
  color: wheat;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 95vh;
  border-radius: 20px;
  width: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide 5s;
          animation: slide 5s;
}

.container .html {
  width: 100%;
  height: 40px;
  background-color: red;
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.container .html .html-progess {
  background-color: blue;
  position: absolute;
  bottom: 0px;
  width: 80%;
  height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .html .js {
  width: 40%;
}

.container .html .css {
  width: 50%;
}

.container .html .git {
  width: 10%;
}

.container .html .bootstrap {
  width: 20%;
}

@-webkit-keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.fa-facebook-square:hover::after {
  content: "prabin2002@facebook.com";
  display: block;
  background-color: black;
  color: wheat;
  position: absolute;
  font-size: 15px;
  display: block;
}

.fa-instagram-square:hover::after {
  content: "prabin2002";
  display: block;
  background-color: black;
  color: wheat;
  position: absolute;
  font-size: 15px;
  display: block;
}

.fa-envelope-open-text:hover::after {
  content: "dital93@gmail.com";
  display: block;
  background-color: black;
  color: wheat;
  position: absolute;
  font-size: 15px;
  display: block;
}

.containerTwo {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  color: black;
}

.containerTwo .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerTwo .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerTwo .details .contact {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerTwo .details .contact h6 {
  font-size: 20px;
}

.containerTwo .details .contact h6 .icon {
  font-size: 30px;
}

.clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: wheat;
  position: relative;
  border: 5px solid black;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.number1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.number2 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.number3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number4 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.number5 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.number6 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.number7 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.number8 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.number9 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.number10 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.number11 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.number12 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 20px;
  height: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background-color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
          transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.sec {
  width: 2px;
  height: 48%;
  background-color: red;
}

.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

.min {
  width: 7px;
  height: 45%;
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
  }
  .main .one .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .one .portfolio .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .one .portfolio .mobileView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 5px solid gray;
  }
  .main .one .portfolio .mobileView .hamburgar {
    height: 40px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
  }
  .main .one .portfolio .mobileView .hamburgar:hover .line {
    background-color: wheat;
  }
  .main .one .portfolio .mobileView .hamburgar .line {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 5px;
  }
  .main .one .portfolio .mobileView .cross {
    height: 40px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
  }
  .main .one .portfolio .mobileView .cross .lineone {
    height: 5px;
    width: 100%;
    background-color: white;
  }
  .main .one .portfolio .mobileView .cross .linetwo {
    height: 5px;
    width: 100%;
    background-color: white;
  }
  .two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two .button, .two .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two .containerTwo {
    width: 100%;
  }
  .two .containerTwo .details .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .three {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */